@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dotnet Pipeline K8s</h1>
    <p>Learn about <a href="https://github.com/rafabios/dotnet_pipeline_k8s">Repositorio do projeto</a>.</p>
</div>
